<h1 class="title">Link Underlines</h1>

<section class="examples-container">
  <app-accessibility-example-container exampleType="bad-example">
    <section class="content">
      <p>
        On the other hand, we denounce with righteous indignation and dislike
        men who are so beguiled and demoralized by the charms of pleasure of the
        <a href="https://google.com" target="_blank">which is</a> the same as
        saying through shrinking from toil and pain. These cases are perfectly
        simple and
        <a href="https://youtube.com" target="_blank">hard to distinguish</a>.
      </p>
    </section>

    <section class="pros-and-cons">
      <ol>
        <li>
          The user without any visual disability may not guess that the text
          with a different color is a link
        </li>
        <li>
          People with color blindness may not identify a link on the page at all
        </li>
      </ol>
    </section>
  </app-accessibility-example-container>

  <app-accessibility-example-container exampleType="good-example">
    <section class="content">
      <p>
        On the other hand, we denounce with righteous indignation and dislike
        men who are so beguiled and demoralized by the charms of pleasure of the
        <a href="https://google.com" target="_blank">which is</a> the same as
        saying through shrinking from toil and pain. These cases are perfectly
        simple and
        <a href="https://youtube.com" target="_blank">easy to distinguish</a>.
      </p>
    </section>

    <section class="pros-and-cons">
      <ol>
        <li>
          A link should have an underline so that it can be differentiated from
          the other text
        </li>
      </ol>
    </section>
  </app-accessibility-example-container>
</section>
