// Black
$black-3: rgba(0, 0, 0, 0.03);
$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-80: rgba(0, 0, 0, 0.8);
$black-100: #000;

// Grey:
$grey-86: #3a3c40;

// White
$white-100: #fff;

// Red
$red-44: #d45148;

// Green
$green-58: #00d963;
