<h1 class="title">Color Contrast</h1>

<section class="examples-container">
  <app-accessibility-example-container exampleType="bad-example">
    <section class="content">Hard to read text</section>

    <section class="pros-and-cons">
      <ol>
        <li>
          Almost everyone, even people with color blindness, will have a hard
          time reading this
        </li>
      </ol>
    </section>
  </app-accessibility-example-container>

  <app-accessibility-example-container exampleType="good-example">
    <section class="content">Easy to read text</section>

    <section class="pros-and-cons">
      <ol>
        <li>
          It should be high contrast between foreground and background so that
          it is easy to read
        </li>
        <li>
          During the development, you can ensure that the contrast between
          foreground and background is okay on this website
          <a href="https://webaim.org/resources/contrastchecker/"
            >https://webaim.org/resources/contrastchecker/</a
          >
        </li>
      </ol>
    </section>
  </app-accessibility-example-container>
</section>
